.reveal pre {
    font-size: 0.49em; /* default value: 0.55em */
    line-height: 1.2em;  /* default value: 1.2em */
}
.reveal pre code {
    max-height: 700px;
}

img[alt^=fun-] { width: 800px; }

.small a {
    font-size: medium;
}
